// navbar.scss

// nav background color
nav {
  background-color: #3a4953;

  //   the content inside the nav
  .content-nav {
    display: flex;
    gap: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    // the mobile version of the navbar
    .right-nav {
      margin-left: auto;
      display: flex;
      gap: 2rem;

      button {
        @include btn-nav(#fff);
        background: transparent;
        text-transform: uppercase;
      }

      .harmburger-icon {
        margin-top: 10px;
        span {
          display: none;
        }

        @media (min-width: 576px) {
          span {
            display: inline-flex;
            color: $text-white;
            vertical-align: 5px;
            font-size: 0.9rem;
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        img {
          display: inline-block;
        }
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
      background-color: $background-white;
      position: absolute;
      top: 65px;
      left: 30px;
      margin-top: 50px;
      width: 94%;

      li {
        border-bottom: 2.5px solid #f4f8fc;
        width: 100%;
      }

      li a {
        text-decoration: none;
        text-transform: uppercase;
        color: $text-gray;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.7px;
      }

      li img {
        filter: invert(100%) sepia(10%) saturate(7458%) hue-rotate(278deg)
          brightness(116%) contrast(109%);
        vertical-align: -9px;
        float: right;
      }
    }

    .left-desktop {
      display: none;
      //   display: flex;
      //   flex-direction: column;
      //   gap: 10px;
      //   list-style: none;
      //   background-color: $background-white;
      //   position: absolute;
      //   bottom: 165px;
      //   left: 30px;
      //   margin-top: 50px;
      //   width: 94%;
    }
  }
}
