// Variables scss
//  @media (min-width: 768px) = tablet
// @media (min-width: 1200px) = desktop

// text
$text-white: #fff;
$text-gray: #485660;
$text-green: #41af4b;
$text-dark: #3a4953;
$text-light-gray: #7f939e;
$text-blue: #008cc5;
$text-pink: #fa6476;

$text-faint-gray: #5f7887;
$text-faint-blue: #b2c1ca;
// backgrounds
$background-green: #41af4b;
$background-light-green: #b8e9b4;
$background-white: #ffffff;
$background-deep-blue: #060f40;
$background-gray: #3a4953;
$background-light-gray: #7f939ee6;
$background-light-blue: #e0f0f9;
$background-blue: #d7ecfb;
$background-cream: #edede1;
$background-pink: #fbdadf;
$background-light-pink: #fce7ea;
$background-dark: #787880;
//
$border-green: #41af4b;
$bg-blue: #eaf2f9;
