// Variables scss
//  @media (min-width: 768px) = tablet
// @media (min-width: 1200px) = desktop

// text
$text-white: #fff;
$text-gray: #485660;
$text-green: #41af4b;
$text-dark: #3a4953;

// backgrounds
$background-green: #41af4b;
$background-white: #ffffff;
$background-deep-blue: #060f40;
$background-gray: #3a4953;

//
$border-green: #41af4b;
