@import "./resets";
@import "./variable";
@import "./mixings";
@import "./navbar/navbar";
@import "./navbar/nav-desktop";
@import "./first-section/first-mobile";
@import "./first-section/first-desktop";
@import "./second-section/second-mobile";
@import "./second-section/second-desktop";
@import "./third-section/third-mobile";
@import "./third-section/third-desktop";

body {
  .container {
    width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  //   @media (min-width: 576px) {
  //     .container {
  //       max-width: 540px;
  //     }
  //   }

  //   @media (min-width: 768px) {
  //     .container {
  //       max-width: 720px;
  //     }
  //   }

  //   @media (min-width: 992px) {
  //     .container {
  //       max-width: 960px;
  //     }
  //   }

  // @media (min-width: 1200px) {
  //   .container {
  //     max-width: 1140px;
  //   }
  // }

  @media (min-width: 1800px) {
    .container {
      max-width: 1500px;
    }
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
