body {
  main {
    overflow-x: hidden;
  }
  .container {
    width: 100%;
    // padding-right: 15px;
    // padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    scroll-behavior: smooth;
  }

  //   @media (min-width: 576px) {
  //     .container {
  //       max-width: 540px;
  //     }
  //   }

  //   @media (min-width: 768px) {
  //     .container {
  //       max-width: 720px;
  //     }
  //   }

  //   @media (min-width: 992px) {
  //     .container {
  //       max-width: 960px;
  //     }
  //   }

  // @media (min-width: 1200px) {
  //   .container {
  //     max-width: 1140px;
  //   }
  // }

  @media (min-width: 1800px) {
    .container {
      max-width: 1500px;
    }
  }

  .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@import "./resets";
@import "./variable";
@import "./mixings";
@import "./navbar/navbar";
@import "./navbar/nav-desktop";
@import "./first-section/first-mobile";
@import "./first-section/first-desktop";
@import "./second-section/second-mobile";
@import "./second-section/second-desktop";
@import "./third-section/third-mobile";
@import "./third-section/third-desktop";
@import "./fourth-section/fourth-mobile";
@import "./fourth-section/fourth-desktop";
@import "./fifth-section/fifth-mobile";
@import "./fifth-section/fifth-desktop";
@import "./sixth-section/sixth-mobile";
@import "./sixth-section/sixth-desktop";
@import "./seventh-section/seventh-mobile";
@import "./seventh-section/seventh-desktop";
@import "./eight-section/eight-mobile";
@import "./eight-section/eight-desktop";
@import "./ninth-section/ninth-mobile";
@import "./ninth-section/ninth-desktop";
@import "./tenth-section/tenth-mobile";
@import "./tenth-section/tenth-desktop";
@import "./eleventh-section/eleventh-mobile";
@import "./eleventh-section/eleventh-desktop";
@import "./twelfth-section/twelfth-mobile";
@import "./twelfth-section/twelfth-desktop";
