.section-5 {
  margin: 10px auto;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  color: $text-gray;
  position: relative;
  display: block;

  .top-fifth-section {
    margin-bottom: 20px;
    h3 {
      font-size: 1.5rem;
      font-weight: 900;
    }

    .text-section {
      p {
        font-size: 15.5px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      span {
        a {
          text-decoration: underline;
          color: $text-blue;
          font-weight: 600;
          font-size: 16px;

          &::after {
            content: url("../../img/arrow-right.svg");
            vertical-align: -8px;
            margin-left: 2px;
            filter: invert(36%) sepia(90%) saturate(779%) hue-rotate(160deg)
              brightness(97%) contrast(109%);
            width: 70%;
          }
        }
      }
    }
  }
}
