// navbar.scss

// nav background color
nav {
  background: #3a4953;
  background-color: rgba($color: $background-gray, $alpha: 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.nav-toggle {
    background-color: rgba($color: $background-gray, $alpha: 1) !important;
  }

  //   the content inside the nav
  .content-nav {
    display: flex;
    gap: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    // the mobile version of the navbar
    .right-nav {
      margin-left: auto;
      display: flex;
      gap: 2rem;

      button {
        @include btn-nav(#fff);
        background: transparent;
        text-transform: uppercase;
      }

      .free-trial-btn {
        display: none;
        transition: all 2s ease-in-out;
      }

      .harmburger-icon {
        margin-top: 10px;
        cursor: pointer;
        span {
          display: none;
        }

        @media (min-width: 768px) {
          span {
            display: inline-flex;
            color: $text-white;
            vertical-align: 5px;
            font-size: 0.9rem;
            font-weight: 600;
            text-transform: uppercase;
          }
        }

        img {
          display: inline-block;
        }
      }
    }

    .toggle {
      //   background-color: blue !important;
      overflow: hidden;
      position: absolute;
      background-color: $background-white;
      top: 70px;
      width: 100%;
      left: 0;
      padding-left: 30px;
      //   default nav for mobile nav
      height: 0;
      overflow: hidden;
      transition: all 0.8s ease-in-out;

      &.nav-toggle {
        height: 94vh;
        overflow: hidden;
        transition: all 1.1s ease-in-out;
      }
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
      background-color: $background-white;
      width: 94%;

      li {
        border-bottom: 2.5px solid #f4f8fc;
        width: 100%;
      }

      li a {
        text-decoration: none;
        text-transform: uppercase;
        color: $text-gray;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 0.7px;
      }

      li img {
        filter: invert(100%) sepia(10%) saturate(7458%) hue-rotate(278deg)
          brightness(116%) contrast(109%);
        vertical-align: -9px;
        float: right;
      }
    }

    .left-desktop {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 50px;
      gap: 10px;
      width: 95%;

      .free-trial {
        @include btn-nav-mobile(
          $text-white,
          $background-green,
          $background-green
        );
        display: block;
        width: 100%;
      }
      .contact-sales {
        @include btn-nav-mobile($text-green, $border-green, transparent);
        display: block;
        width: 100%;
      }

      .get-support {
        @include btn-nav-mobile($text-green, $border-green, transparent);
        display: block;
        width: 100%;
      }
    }

    @media (min-width: 768px) {
      .left-desktop {
        display: flex;
        flex-direction: row-reverse;
        bottom: 20rem;
        width: 95%;

        .free-trial {
          width: 90%;
        }
        .contact-sales {
          width: 90%;
        }

        .get-support {
          width: 90%;
        }
      }
    }
  }
}
