@media (min-width: 1250px) {
  .section-3 {
    &.sticky {
      padding: 20px;
      background: rgba($color: $background-white, $alpha: 0.98);
      top: 64px;
      height: 90px;
    }
  }

  .third-list {
    .list-item {
      a {
        .list-container {
          .title-text {
            white-space: normal;
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            .mobile-text {
              display: none;
            }

            .desktop-text {
              display: block;
            }
          }

          .number-holder {
            padding: 15px;

            .number {
              font-size: 16px;
              display: block;
            }
          }
        }
      }
    }
  }
}

// @desktop = padding : 10px;
