@media (min-width: 767px) {
  .section-13 {
    background: rgba($color: $background-light-blue, $alpha: 1);
    position: relative;

    .content-container {
      padding: 0 20px;
      .img-section {
        position: relative;
        padding-bottom: 10px;
        display: flex;

        .img {
          position: inherit;
          display: flex;
          align-items: flex-end;
        }

        //   shoe image
        .img-1 {
          z-index: 4;
          width: 60%;
          right: 0;
          bottom: 0;
        }

        //   i-phone image
        .img-2 {
          z-index: 3;
          width: 21%;
          left: 0;
          bottom: 0;
        }

        //   i-pad image
        .img-3 {
          z-index: 2;
          left: 35px;
          bottom: 20px;
          width: 60%;
        }

        //   mack-book images
        .img-4 {
          z-index: 1;
          width: 99%;
          right: -70px;
          top: -38px;
        }
      }

      .partners-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .img {
          width: 40%;
          display: flex;
          justify-content: center;
          img {
            width: 50%;
          }
        }

        @media (min-width: 935px) {
          & {
            padding-right: 142px;
            .img {
              width: 30%;
              img {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
