//  @media (min-width: 768px) = tablet
// @media (min-width: 1200px) = desktop
// @import '../../img/girl-desktop.png'

@media (min-width: 768px) {
  section.section-1 {
    margin-top: 75px;
    overflow: hidden;
    position: relative;
    z-index: -2;

    // mobile version of the image
    .img-section {
      .mobile-img {
        display: none;

        img {
          width: 0;
        }
      }

      //   desktop version of the image
      .desktop-img {
        display: block;
        z-index: -1;
        width: 100%;
        height: 100%;

        img {
          width: 179%;
          height: 100%;
          margin-left: -45%;
        }
      }

      @media (min-width: 1200px) {
        .desktop-img {
          img {
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }

    // this is the first text section that the backgound is white
    .text-section {
      position: absolute;
      top: 20px;
      //
      padding: 20px;
      text-align: left;
      margin: 20px 0;
      margin: initial;
      width: 50%;

      h2 {
        color: $text-dark;
        font-size: 33px;
        font-weight: 700;
        margin-bottom: 0;
      }

      .text {
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;

        button {
          @include btn-mobile($text-white, $background-green);
          width: 90%;
          font-weight: 700;
          font-size: 1.2rem;
        }

        p {
          font-size: 18px;
          font-weight: 500;
          color: $text-gray;
        }
      }

      @media (min-width: 1143px) {
        .text {
          width: 85%;
        }
      }
    }

    @media (min-width: 1200px) {
      .text-section {
        top: 13%;
        //
        width: 50%;

        h2 {
          color: $text-dark;
          font-size: 3.5rem;
          font-weight: 700;
        }

        .text {
          //

          button {
            @include btn-mobile($text-white, $background-green);
            width: 70%;
            font-size: 1.2rem;
          }

          p {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }

        @media (min-width: 1143px) {
          .text {
            width: 85%;
          }
        }
      }
    }

    // this is the second text section that the background is  deep blue / purple
    .fun-section {
      position: absolute;
      top: 300px;
      right: 50px;
      //
      width: 310px;
      height: 290px;

      //
      background-color: $background-deep-blue;
      border-radius: 50%;
      color: $text-white;
      padding: 40px 10px;
      text-align: center;

      .desktop-heading {
        display: block;
        font-size: 2rem;
        margin-bottom: 10px;
      }

      .mobile-heading {
        display: none;
      }

      .info {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;

        button {
          @include btn-mobile($text-white, $background-green);
          width: 60%;
          font-weight: 700;
          font-size: 1.2rem;
          margin-bottom: 20px;
        }

        .mobile-text {
          display: none;
        }
        .desktop-text {
          display: block;
          width: 90%;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
